
@-webkit-keyframes bang {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-moz-keyframes bang {
  from {
    -moz-transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes bang {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.hoverme {
  position: relative;
}
.hoverme span {
  color: white;
  text-shadow: 4px 4px 4px black;
  font-size: 9em;
}
.hoverme i {
  position: absolute;
  display: block;
  left: 50%;
  top: 0;
  width: 3px;
  height: 5px;
  background: red;
  opacity: 0;
}
.hoverme.active i:nth-of-type(1) {
  -webkit-transform: translate3d(38px, -76px, 0) rotate(185deg);
  -moz-transform: translate3d(38px, -76px, 0) rotate(185deg);
  -ms-transform: translate3d(38px, -76px, 0) rotate(185deg);
  -o-transform: translate3d(38px, -76px, 0) rotate(185deg);
  transform: translate3d(38px, -76px, 0) rotate(185deg);
  background: #00ff6f;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(2) {
  -webkit-transform: translate3d(64px, -55px, 0) rotate(157deg);
  -moz-transform: translate3d(64px, -55px, 0) rotate(157deg);
  -ms-transform: translate3d(64px, -55px, 0) rotate(157deg);
  -o-transform: translate3d(64px, -55px, 0) rotate(157deg);
  transform: translate3d(64px, -55px, 0) rotate(157deg);
  background: #ff0095;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(3) {
  -webkit-transform: translate3d(-10px, -99px, 0) rotate(89deg);
  -moz-transform: translate3d(-10px, -99px, 0) rotate(89deg);
  -ms-transform: translate3d(-10px, -99px, 0) rotate(89deg);
  -o-transform: translate3d(-10px, -99px, 0) rotate(89deg);
  transform: translate3d(-10px, -99px, 0) rotate(89deg);
  background: #d9ff00;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(4) {
  -webkit-transform: translate3d(-83px, -76px, 0) rotate(207deg);
  -moz-transform: translate3d(-83px, -76px, 0) rotate(207deg);
  -ms-transform: translate3d(-83px, -76px, 0) rotate(207deg);
  -o-transform: translate3d(-83px, -76px, 0) rotate(207deg);
  transform: translate3d(-83px, -76px, 0) rotate(207deg);
  background: #ff5e00;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(5) {
  -webkit-transform: translate3d(82px, -91px, 0) rotate(190deg);
  -moz-transform: translate3d(82px, -91px, 0) rotate(190deg);
  -ms-transform: translate3d(82px, -91px, 0) rotate(190deg);
  -o-transform: translate3d(82px, -91px, 0) rotate(190deg);
  transform: translate3d(82px, -91px, 0) rotate(190deg);
  background: #a600ff;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(6) {
  -webkit-transform: translate3d(13px, -85px, 0) rotate(131deg);
  -moz-transform: translate3d(13px, -85px, 0) rotate(131deg);
  -ms-transform: translate3d(13px, -85px, 0) rotate(131deg);
  -o-transform: translate3d(13px, -85px, 0) rotate(131deg);
  transform: translate3d(13px, -85px, 0) rotate(131deg);
  background: #09ff00;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(7) {
  -webkit-transform: translate3d(-42px, -51px, 0) rotate(58deg);
  -moz-transform: translate3d(-42px, -51px, 0) rotate(58deg);
  -ms-transform: translate3d(-42px, -51px, 0) rotate(58deg);
  -o-transform: translate3d(-42px, -51px, 0) rotate(58deg);
  transform: translate3d(-42px, -51px, 0) rotate(58deg);
  background: #ffdd00;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(8) {
  -webkit-transform: translate3d(-12px, -57px, 0) rotate(198deg);
  -moz-transform: translate3d(-12px, -57px, 0) rotate(198deg);
  -ms-transform: translate3d(-12px, -57px, 0) rotate(198deg);
  -o-transform: translate3d(-12px, -57px, 0) rotate(198deg);
  transform: translate3d(-12px, -57px, 0) rotate(198deg);
  background: #00e1ff;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(9) {
  -webkit-transform: translate3d(63px, -86px, 0) rotate(240deg);
  -moz-transform: translate3d(63px, -86px, 0) rotate(240deg);
  -ms-transform: translate3d(63px, -86px, 0) rotate(240deg);
  -o-transform: translate3d(63px, -86px, 0) rotate(240deg);
  transform: translate3d(63px, -86px, 0) rotate(240deg);
  background: #0088ff;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(10) {
  -webkit-transform: translate3d(-96px, -67px, 0) rotate(193deg);
  -moz-transform: translate3d(-96px, -67px, 0) rotate(193deg);
  -ms-transform: translate3d(-96px, -67px, 0) rotate(193deg);
  -o-transform: translate3d(-96px, -67px, 0) rotate(193deg);
  transform: translate3d(-96px, -67px, 0) rotate(193deg);
  background: #d900ff;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(11) {
  -webkit-transform: translate3d(75px, -60px, 0) rotate(159deg);
  -moz-transform: translate3d(75px, -60px, 0) rotate(159deg);
  -ms-transform: translate3d(75px, -60px, 0) rotate(159deg);
  -o-transform: translate3d(75px, -60px, 0) rotate(159deg);
  transform: translate3d(75px, -60px, 0) rotate(159deg);
  background: #0900ff;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(12) {
  -webkit-transform: translate3d(19px, -96px, 0) rotate(32deg);
  -moz-transform: translate3d(19px, -96px, 0) rotate(32deg);
  -ms-transform: translate3d(19px, -96px, 0) rotate(32deg);
  -o-transform: translate3d(19px, -96px, 0) rotate(32deg);
  transform: translate3d(19px, -96px, 0) rotate(32deg);
  background: #a600ff;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(13) {
  -webkit-transform: translate3d(-49px, -91px, 0) rotate(341deg);
  -moz-transform: translate3d(-49px, -91px, 0) rotate(341deg);
  -ms-transform: translate3d(-49px, -91px, 0) rotate(341deg);
  -o-transform: translate3d(-49px, -91px, 0) rotate(341deg);
  transform: translate3d(-49px, -91px, 0) rotate(341deg);
  background: #8cff00;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(14) {
  -webkit-transform: translate3d(58px, -57px, 0) rotate(8deg);
  -moz-transform: translate3d(58px, -57px, 0) rotate(8deg);
  -ms-transform: translate3d(58px, -57px, 0) rotate(8deg);
  -o-transform: translate3d(58px, -57px, 0) rotate(8deg);
  transform: translate3d(58px, -57px, 0) rotate(8deg);
  background: #9100ff;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(15) {
  -webkit-transform: translate3d(-67px, -62px, 0) rotate(346deg);
  -moz-transform: translate3d(-67px, -62px, 0) rotate(346deg);
  -ms-transform: translate3d(-67px, -62px, 0) rotate(346deg);
  -o-transform: translate3d(-67px, -62px, 0) rotate(346deg);
  transform: translate3d(-67px, -62px, 0) rotate(346deg);
  background: #0088ff;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(16) {
  -webkit-transform: translate3d(-63px, -67px, 0) rotate(113deg);
  -moz-transform: translate3d(-63px, -67px, 0) rotate(113deg);
  -ms-transform: translate3d(-63px, -67px, 0) rotate(113deg);
  -o-transform: translate3d(-63px, -67px, 0) rotate(113deg);
  transform: translate3d(-63px, -67px, 0) rotate(113deg);
  background: #ffa200;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(17) {
  -webkit-transform: translate3d(20px, -92px, 0) rotate(351deg);
  -moz-transform: translate3d(20px, -92px, 0) rotate(351deg);
  -ms-transform: translate3d(20px, -92px, 0) rotate(351deg);
  -o-transform: translate3d(20px, -92px, 0) rotate(351deg);
  transform: translate3d(20px, -92px, 0) rotate(351deg);
  background: #ff00d0;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(18) {
  -webkit-transform: translate3d(44px, -73px, 0) rotate(8deg);
  -moz-transform: translate3d(44px, -73px, 0) rotate(8deg);
  -ms-transform: translate3d(44px, -73px, 0) rotate(8deg);
  -o-transform: translate3d(44px, -73px, 0) rotate(8deg);
  transform: translate3d(44px, -73px, 0) rotate(8deg);
  background: #ffd000;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(19) {
  -webkit-transform: translate3d(-43px, -93px, 0) rotate(227deg);
  -moz-transform: translate3d(-43px, -93px, 0) rotate(227deg);
  -ms-transform: translate3d(-43px, -93px, 0) rotate(227deg);
  -o-transform: translate3d(-43px, -93px, 0) rotate(227deg);
  transform: translate3d(-43px, -93px, 0) rotate(227deg);
  background: #00f7ff;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(20) {
  -webkit-transform: translate3d(-5px, -62px, 0) rotate(14deg);
  -moz-transform: translate3d(-5px, -62px, 0) rotate(14deg);
  -ms-transform: translate3d(-5px, -62px, 0) rotate(14deg);
  -o-transform: translate3d(-5px, -62px, 0) rotate(14deg);
  transform: translate3d(-5px, -62px, 0) rotate(14deg);
  background: #ff7300;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(21) {
  -webkit-transform: translate3d(-94px, -99px, 0) rotate(63deg);
  -moz-transform: translate3d(-94px, -99px, 0) rotate(63deg);
  -ms-transform: translate3d(-94px, -99px, 0) rotate(63deg);
  -o-transform: translate3d(-94px, -99px, 0) rotate(63deg);
  transform: translate3d(-94px, -99px, 0) rotate(63deg);
  background: #22ff00;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(22) {
  -webkit-transform: translate3d(7px, -72px, 0) rotate(283deg);
  -moz-transform: translate3d(7px, -72px, 0) rotate(283deg);
  -ms-transform: translate3d(7px, -72px, 0) rotate(283deg);
  -o-transform: translate3d(7px, -72px, 0) rotate(283deg);
  transform: translate3d(7px, -72px, 0) rotate(283deg);
  background: #0066ff;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(23) {
  -webkit-transform: translate3d(8px, -86px, 0) rotate(86deg);
  -moz-transform: translate3d(8px, -86px, 0) rotate(86deg);
  -ms-transform: translate3d(8px, -86px, 0) rotate(86deg);
  -o-transform: translate3d(8px, -86px, 0) rotate(86deg);
  transform: translate3d(8px, -86px, 0) rotate(86deg);
  background: #ff0022;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(24) {
  -webkit-transform: translate3d(50px, -92px, 0) rotate(176deg);
  -moz-transform: translate3d(50px, -92px, 0) rotate(176deg);
  -ms-transform: translate3d(50px, -92px, 0) rotate(176deg);
  -o-transform: translate3d(50px, -92px, 0) rotate(176deg);
  transform: translate3d(50px, -92px, 0) rotate(176deg);
  background: #1500ff;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(25) {
  -webkit-transform: translate3d(-79px, -63px, 0) rotate(133deg);
  -moz-transform: translate3d(-79px, -63px, 0) rotate(133deg);
  -ms-transform: translate3d(-79px, -63px, 0) rotate(133deg);
  -o-transform: translate3d(-79px, -63px, 0) rotate(133deg);
  transform: translate3d(-79px, -63px, 0) rotate(133deg);
  background: #5e00ff;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(26) {
  -webkit-transform: translate3d(-93px, -69px, 0) rotate(58deg);
  -moz-transform: translate3d(-93px, -69px, 0) rotate(58deg);
  -ms-transform: translate3d(-93px, -69px, 0) rotate(58deg);
  -o-transform: translate3d(-93px, -69px, 0) rotate(58deg);
  transform: translate3d(-93px, -69px, 0) rotate(58deg);
  background: #0015ff;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(27) {
  -webkit-transform: translate3d(55px, -50px, 0) rotate(120deg);
  -moz-transform: translate3d(55px, -50px, 0) rotate(120deg);
  -ms-transform: translate3d(55px, -50px, 0) rotate(120deg);
  -o-transform: translate3d(55px, -50px, 0) rotate(120deg);
  transform: translate3d(55px, -50px, 0) rotate(120deg);
  background: #1100ff;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(28) {
  -webkit-transform: translate3d(57px, -76px, 0) rotate(117deg);
  -moz-transform: translate3d(57px, -76px, 0) rotate(117deg);
  -ms-transform: translate3d(57px, -76px, 0) rotate(117deg);
  -o-transform: translate3d(57px, -76px, 0) rotate(117deg);
  transform: translate3d(57px, -76px, 0) rotate(117deg);
  background: #ff0004;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(29) {
  -webkit-transform: translate3d(61px, -72px, 0) rotate(3deg);
  -moz-transform: translate3d(61px, -72px, 0) rotate(3deg);
  -ms-transform: translate3d(61px, -72px, 0) rotate(3deg);
  -o-transform: translate3d(61px, -72px, 0) rotate(3deg);
  transform: translate3d(61px, -72px, 0) rotate(3deg);
  background: #4400ff;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(30) {
  -webkit-transform: translate3d(17px, -58px, 0) rotate(180deg);
  -moz-transform: translate3d(17px, -58px, 0) rotate(180deg);
  -ms-transform: translate3d(17px, -58px, 0) rotate(180deg);
  -o-transform: translate3d(17px, -58px, 0) rotate(180deg);
  transform: translate3d(17px, -58px, 0) rotate(180deg);
  background: #1e00ff;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(31) {
  -webkit-transform: translate3d(70px, -99px, 0) rotate(247deg);
  -moz-transform: translate3d(70px, -99px, 0) rotate(247deg);
  -ms-transform: translate3d(70px, -99px, 0) rotate(247deg);
  -o-transform: translate3d(70px, -99px, 0) rotate(247deg);
  transform: translate3d(70px, -99px, 0) rotate(247deg);
  background: #0009ff;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(32) {
  -webkit-transform: translate3d(-65px, -86px, 0) rotate(205deg);
  -moz-transform: translate3d(-65px, -86px, 0) rotate(205deg);
  -ms-transform: translate3d(-65px, -86px, 0) rotate(205deg);
  -o-transform: translate3d(-65px, -86px, 0) rotate(205deg);
  transform: translate3d(-65px, -86px, 0) rotate(205deg);
  background: #00ff84;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(33) {
  -webkit-transform: translate3d(-96px, -99px, 0) rotate(79deg);
  -moz-transform: translate3d(-96px, -99px, 0) rotate(79deg);
  -ms-transform: translate3d(-96px, -99px, 0) rotate(79deg);
  -o-transform: translate3d(-96px, -99px, 0) rotate(79deg);
  transform: translate3d(-96px, -99px, 0) rotate(79deg);
  background: #ff7b00;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(34) {
  -webkit-transform: translate3d(-11px, -91px, 0) rotate(94deg);
  -moz-transform: translate3d(-11px, -91px, 0) rotate(94deg);
  -ms-transform: translate3d(-11px, -91px, 0) rotate(94deg);
  -o-transform: translate3d(-11px, -91px, 0) rotate(94deg);
  transform: translate3d(-11px, -91px, 0) rotate(94deg);
  background: #ff6f00;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(35) {
  -webkit-transform: translate3d(-18px, -72px, 0) rotate(173deg);
  -moz-transform: translate3d(-18px, -72px, 0) rotate(173deg);
  -ms-transform: translate3d(-18px, -72px, 0) rotate(173deg);
  -o-transform: translate3d(-18px, -72px, 0) rotate(173deg);
  transform: translate3d(-18px, -72px, 0) rotate(173deg);
  background: #5eff00;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(36) {
  -webkit-transform: translate3d(-92px, -94px, 0) rotate(170deg);
  -moz-transform: translate3d(-92px, -94px, 0) rotate(170deg);
  -ms-transform: translate3d(-92px, -94px, 0) rotate(170deg);
  -o-transform: translate3d(-92px, -94px, 0) rotate(170deg);
  transform: translate3d(-92px, -94px, 0) rotate(170deg);
  background: #ff7700;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(37) {
  -webkit-transform: translate3d(16px, -80px, 0) rotate(234deg);
  -moz-transform: translate3d(16px, -80px, 0) rotate(234deg);
  -ms-transform: translate3d(16px, -80px, 0) rotate(234deg);
  -o-transform: translate3d(16px, -80px, 0) rotate(234deg);
  transform: translate3d(16px, -80px, 0) rotate(234deg);
  background: #00fffb;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(38) {
  -webkit-transform: translate3d(55px, -52px, 0) rotate(287deg);
  -moz-transform: translate3d(55px, -52px, 0) rotate(287deg);
  -ms-transform: translate3d(55px, -52px, 0) rotate(287deg);
  -o-transform: translate3d(55px, -52px, 0) rotate(287deg);
  transform: translate3d(55px, -52px, 0) rotate(287deg);
  background: #ff00e1;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(39) {
  -webkit-transform: translate3d(35px, -55px, 0) rotate(278deg);
  -moz-transform: translate3d(35px, -55px, 0) rotate(278deg);
  -ms-transform: translate3d(35px, -55px, 0) rotate(278deg);
  -o-transform: translate3d(35px, -55px, 0) rotate(278deg);
  transform: translate3d(35px, -55px, 0) rotate(278deg);
  background: #99ff00;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(40) {
  -webkit-transform: translate3d(-73px, -77px, 0) rotate(17deg);
  -moz-transform: translate3d(-73px, -77px, 0) rotate(17deg);
  -ms-transform: translate3d(-73px, -77px, 0) rotate(17deg);
  -o-transform: translate3d(-73px, -77px, 0) rotate(17deg);
  transform: translate3d(-73px, -77px, 0) rotate(17deg);
  background: #ff00bf;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(41) {
  -webkit-transform: translate3d(45px, -88px, 0) rotate(337deg);
  -moz-transform: translate3d(45px, -88px, 0) rotate(337deg);
  -ms-transform: translate3d(45px, -88px, 0) rotate(337deg);
  -o-transform: translate3d(45px, -88px, 0) rotate(337deg);
  transform: translate3d(45px, -88px, 0) rotate(337deg);
  background: #ffbf00;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(42) {
  -webkit-transform: translate3d(-72px, -94px, 0) rotate(205deg);
  -moz-transform: translate3d(-72px, -94px, 0) rotate(205deg);
  -ms-transform: translate3d(-72px, -94px, 0) rotate(205deg);
  -o-transform: translate3d(-72px, -94px, 0) rotate(205deg);
  transform: translate3d(-72px, -94px, 0) rotate(205deg);
  background: #00ff7b;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(43) {
  -webkit-transform: translate3d(-59px, -84px, 0) rotate(4deg);
  -moz-transform: translate3d(-59px, -84px, 0) rotate(4deg);
  -ms-transform: translate3d(-59px, -84px, 0) rotate(4deg);
  -o-transform: translate3d(-59px, -84px, 0) rotate(4deg);
  transform: translate3d(-59px, -84px, 0) rotate(4deg);
  background: #d0ff00;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(44) {
  -webkit-transform: translate3d(-74px, -53px, 0) rotate(25deg);
  -moz-transform: translate3d(-74px, -53px, 0) rotate(25deg);
  -ms-transform: translate3d(-74px, -53px, 0) rotate(25deg);
  -o-transform: translate3d(-74px, -53px, 0) rotate(25deg);
  transform: translate3d(-74px, -53px, 0) rotate(25deg);
  background: #0084ff;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(45) {
  -webkit-transform: translate3d(-22px, -99px, 0) rotate(51deg);
  -moz-transform: translate3d(-22px, -99px, 0) rotate(51deg);
  -ms-transform: translate3d(-22px, -99px, 0) rotate(51deg);
  -o-transform: translate3d(-22px, -99px, 0) rotate(51deg);
  transform: translate3d(-22px, -99px, 0) rotate(51deg);
  background: #11ff00;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(46) {
  -webkit-transform: translate3d(19px, -96px, 0) rotate(286deg);
  -moz-transform: translate3d(19px, -96px, 0) rotate(286deg);
  -ms-transform: translate3d(19px, -96px, 0) rotate(286deg);
  -o-transform: translate3d(19px, -96px, 0) rotate(286deg);
  transform: translate3d(19px, -96px, 0) rotate(286deg);
  background: #00ffe6;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(47) {
  -webkit-transform: translate3d(-10px, -64px, 0) rotate(105deg);
  -moz-transform: translate3d(-10px, -64px, 0) rotate(105deg);
  -ms-transform: translate3d(-10px, -64px, 0) rotate(105deg);
  -o-transform: translate3d(-10px, -64px, 0) rotate(105deg);
  transform: translate3d(-10px, -64px, 0) rotate(105deg);
  background: #ff00f2;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(48) {
  -webkit-transform: translate3d(-79px, -74px, 0) rotate(165deg);
  -moz-transform: translate3d(-79px, -74px, 0) rotate(165deg);
  -ms-transform: translate3d(-79px, -74px, 0) rotate(165deg);
  -o-transform: translate3d(-79px, -74px, 0) rotate(165deg);
  transform: translate3d(-79px, -74px, 0) rotate(165deg);
  background: #00ffc4;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(49) {
  -webkit-transform: translate3d(-42px, -90px, 0) rotate(312deg);
  -moz-transform: translate3d(-42px, -90px, 0) rotate(312deg);
  -ms-transform: translate3d(-42px, -90px, 0) rotate(312deg);
  -o-transform: translate3d(-42px, -90px, 0) rotate(312deg);
  transform: translate3d(-42px, -90px, 0) rotate(312deg);
  background: #73ff00;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme.active i:nth-of-type(50) {
  -webkit-transform: translate3d(-90px, -72px, 0) rotate(56deg);
  -moz-transform: translate3d(-90px, -72px, 0) rotate(56deg);
  -ms-transform: translate3d(-90px, -72px, 0) rotate(56deg);
  -o-transform: translate3d(-90px, -72px, 0) rotate(56deg);
  transform: translate3d(-90px, -72px, 0) rotate(56deg);
  background: #00d9ff;
  -webkit-animation: bang 700ms ease-out forwards;
  -moz-animation: bang 700ms ease-out forwards;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
