<!doctype html>
<html ng-app="puzzleApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <link rel="stylesheet" href="confetti.css">
    </head>
    <body>

        <style>
            /* entire container, keeps perspective */
            .flip-container {
                perspective: 1000px;
            }
                /* flip the pane when hovered */
                .flip-container.hover .flipper {
                    transform: rotateY(180deg);
                }

            .flip-container {
                width: 21%;
                height: 21vw;
                border-radius: 6px;
                margin: 2%;
                overflow: hidden;
            }

            .front, .back{
                width: 100%;
                height: 21vw;
            }

            @media(min-width:768px){
                .flip-container, .front, .back{
                    height: 161px;
                }
            }

            /* flip speed goes here */
            .flipper {
                transition: 0.6s;
                transform-style: preserve-3d;

                position: relative;
            }

            /* hide back of pane during swap */
            .front, .back {
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                position: absolute;
                top: 0;
                left: 0;
            }

            /* front pane, placed above back */
            .front {
                z-index: 2;
                /* for firefox 31 */
                transform: rotateY(0deg);
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #DD083B;
            }

            .front img{
                display: block;
                width: 50%;
            }

            /* back, initially hidden pane */
            .back {
                transform: rotateY(180deg);
                background-color: blue;
            }


            body{
                margin: 0;
                background: #feffef;
                font-family: Helvetica, sans-serif;                
            }


            *{
                box-size: border-box;
            }


            .board{
                width: 100%;
                max-width: 768px;
                margin: 0 auto;
                display: flex;
                flex-wrap: wrap;
            }

            .back img{
                display: block;
                width: 100%;
            }

            .backdrop{
                background-color: #333;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: .25;
                z-index: 98;
            }

            .congratulations{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 99;             
            }

            .play-again{
                display: block;
                text-align: center;
                background-color: #DD083B;
                color: white;
                padding: 20px 0;
                border-radius: 6px;
                text-decoration: none;
                font-weight: bold;                
            }
            
            

        </style>

        <main ng-controller="memoryCtrl">      
            <div class="board">

                <win ng-if="gameover"></win>

                <div class="flip-container"
                    ng-class="{hover: card.hover}"
                    ng-click="openCard(card)"
                    ng-repeat="card in cards track by $index">
                    <div class="flipper">
                        <div class="front">
                            <img src="LOGO.png">
                        </div>
                        <div class="back">
                            <img ng-src="{{ 'img/img' + card.value + '.jpg' }}"
                        </div>
                    </div>
                </div>
            </div>

        </main>

        <script src="lib/hammer.min.js"></script>
        <script src="lib/angular.min.js"></script>
        <script src="lib/angular.hammer.min.js"></script>

        <script>

            angular.module('puzzleApp',['hmTouchEvents'])

            .directive('win', function(){
                return {
                    scope: false,
                    template: '<div class="win"> \
                        <div class="backdrop"></div> \
                        <div class="congratulations"> \
                            <div class=\'hoverme\' ng-class="{active: confetti_active}"> \
                                <span> \
                                    😃 \
                                </span> \
                                <a href ng-click="init()" class="play-again">Play again</a>\
                                <i ng-repeat="i in confetti"></i> \
                            </div> \
                        </div> \
                    </div>'
                }
            })

            .controller('memoryCtrl', function($scope, $timeout, $interval, $q){

                var card_up = null;
                $scope.cards = [];

                for(var i = 0; i < 26; i++){
                    $scope.cards.push({
                        id: i,
                        value: i,
                        hover: false
                    })
                    $scope.cards.push({
                        id: i + 26,
                        value: i,
                        hover: false
                    })
                }                

                $scope.init = function(){
                    card_up = null;
                    $scope.gameover = false

                    for(var i = 0; i < 26*2; i++){
                        $scope.cards[i].hover = false;
                    }

                    blocked = true

                    $timeout(function(){
                        $scope.cards = shuffle($scope.cards);

                        blocked = false

                    }, 700)


                }


                $scope.openCard = function(card){

                    if(blocked) return;

                    if(card.hover) return;

                    if(card_up && card_up.id === card.id) return;

                    blocked = true;

                    card.hover = true;

                    if(card_up !== null){

                        $timeout(function(){ //wait to up

                            if(card_up.value !== card.value){

                                card.hover = false;
                                card_up.hover = false;

                                $timeout(function(){ //wait to down
                                    blocked = false;

                                }, 600) 
                            }else{

                                blocked = false;

                                if(checkAll()){
                                    win()
                                }                                

                            }

                            card_up = null;

                        },600) 
                        return;

                    }else{
                        card_up = card;
                        blocked = false;
                    }
                }


                function shuffle(a) {
                    var j, x, i;
                    for (i = a.length; i; i--) {
                        j = Math.floor(Math.random() * i);
                        x = a[i - 1];
                        a[i - 1] = a[j];
                        a[j] = x;
                    }
                    return a;
                }


                function checkAll(){
                    var all = true;
                    angular.forEach($scope.cards, function(card){
                        all = all && card.hover
                    })
                    return all;
                }

                function win(){
                    $scope.gameover = true

                    var confetti_interval = $interval(function(){

                        $scope.confetti_active = !$scope.confetti_active;

                    },1000)
                }


                $scope.confetti = [];

                for(var i = 0; i < 50; i++){
                    $scope.confetti.push(i)
                }

                $scope.init();
                


            })

        </script>
    </body>
</html>
